<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:replace="fragments :: head">
	<title>Product Form</title>
</head>
<body>
	<div th:replace="fragments :: navbar"></div>
	<form th:action="@{/products/save}" th:object="${product}" method="post" enctype="multipart/form-data">
		<h1>Product Form</h1>
		<div class="formcontainer">
		<div th:if="${message}" style="color: red; display: block;" th:text="${message}"></div>
			<div class="container">
				<input th:field="*{id}" type="hidden">
				<input th:field="*{image}" type="hidden">
				
				<label for="name"><strong>Name</strong></label>
				<input th:field="*{name}" required>
				<span th:errors="*{name}"></span>
				<br>
				
				<label for="category"><strong>Category</strong></label>
				<select th:field="*{category}" required>
               		<option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
               	</select>
				<br>
				
				<label for="price"><strong>Price</strong></label>
				<input th:field="*{price}" type="number" required>
				<span th:errors="*{price}"></span>
				<br>
				
				<label for="description"><strong>Description</strong></label>
				<textarea th:field="*{description}" required></textarea>
				<span th:errors="*{description}"></span>
				<br>
				
				<label for="image"><strong>Image</strong></label>
				<input type="file" name="imageFile" id="imageFile"> <br>
				<img th:if="${product.image != null && product.image != ''}"
					 th:src="${'data:image/jpeg;base64,'+product.image}"
					 height="150px">
				<br>
			 </div>
			<div class="btn-container">
		            <button type="submit" id="submit">Valider</button>
		            <button type="reset">Effacer</button>
		    </div>
		</div>
	</form>
</body>
</html>