<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:replace="fragments :: head">
	<title>Category From</title>
</head>
<body>
	<div th:replace="fragments :: navbar"></div>
	<form th:action="@{/categories/save}" method="post" th:object="${category}">
		<h1>Category Form</h1>
		<div class="formcontainer">
			<div th:if="${message}" style="color: red; display: block;" th:text="${message}"></div>
			<div class="container">
				<input th:field="*{id}" type="hidden">
				<label for="name"><strong>Name</strong></label>
				<input th:field="*{name}" required>
				<span th:errors="*{name}" required></span>
				<br><br>
				<label for="description"><strong>Description</strong></label>
				<textarea th:field="*{description}" required></textarea>
				<span th:errors="*{description}" ></span>
			</div>
			<div class="btn-container">
		        <button type="submit" id="submit">Valider</button>
		    	<button type="reset">Effacer</button>
		    </div>
		</div>
	</form>
	<div th:replace="fragments :: footer"></div>
</body>
</html>