<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>Category List</title>
</head>
<body>
	<div th:if="${message}" style="color: red; display: block;" th:text="${message}"></div>
	<table border="2">
		<thead>
			<tr>
				<th>Category ID</th>
				<th>Category Name</th>
				<th>Category Description</th>
				<th>Category Products</th>
				<th>Actions</th>				
			</tr>
		</thead>
		<tbody>
			<tr th:each="category:${categories}">
				<td th:text="${category.id}"></td>
				<td th:text="${category.name}"></td>
				<td th:text="${category.description}"></td>
				<td th:text="${category.products.size}"></td>
				<td>
					<a th:href="${'/categories/update/'+category.id}">Modify</a>
					<a th:href="${'/categories/delete/'+category.id}" onclick="return confirm('Are sure about that ?')">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="/categories/add">Add new Category</a>
</body>
</html>